#healthyboost-omvat{
    min-height: 100vh;
    color: black;
}

#healthyboost-omvat h2{
    color: black;
}

#healthyboost-container div.flexbox:first-child{
background: var(--bg3)
}

#healthyboost-container div.flexbox:nth-of-type(3) {
  /* CSS styles */
  background-color: black;
  color: white;
}

#healthyboost-container div.flexbox:nth-of-type(3) p ul {
    /* CSS styles */
    padding-top: 2rem;
    padding-left: 2rem;
    color: white;
}

#healthyboost-container div.hero-wrapper:nth-of-type(2) .quote {
    font-size: 1.5rem;
    /* CSS styles */
    

}

#healthyboost-container div.hero-wrapper:nth-of-type(4) {
  /* CSS styles */
  background-color: var(--bg3);
  
}

#healthyboost-container div.hero-wrapper:nth-of-type(4) p ul {
    padding-top: 2rem;
    padding-left: 2rem;
    /* CSS styles */
    

}
#healthyboost-container p ul {
    color: black;
    list-style-type: disc;
    text-shadow: none;
}

@media screen and (min-width: 992px) {
    #healthyboost-container div.flexbox:first-child {
            background: linear-gradient(to right, var(--bg3) 62%, white 62%);
        }
}
